:root {
    --primary-blue: rgb(61, 168, 239);
    --primary-grey: rgb(231, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,.non_select {
    -webkit-user-select: none;
    /* Safari, older iOS */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge (older) */
    user-select: none;
}